@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #f3f4f6;
  color: #374151;
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}